# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# Virtual Environment
venv/
env/
ENV/

# Workspace
workspace/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Python files
*.pyc

# Miscellaneous
.DS_Store
Thumbs.db

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg